<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  
  <a routerLink="/" class="navbar-brand" style="margin-left: 20px;"
      ><i class="fa fa-exchange"></i> Stock Charting</a
  >
  
    <div class="navbar-collapse" id="navbarMain">
      <ul *ngIf="isAuthenticated" class="navbar-nav ml-auto" style="margin-right: -32%;">
        <li *ngIf="isAdmin" class="nav-item">
          <a routerLink="/companies" class="nav-link">Companies</a>
        </li>
        <li *ngIf="isAdmin" class="nav-item">
          <a routerLink="/sectors" class="nav-link">Sectors</a>
        </li>
        <li *ngIf="isAdmin" class="nav-item">
          <a routerLink="/stock-exchanges" class="nav-link">Stock Exchanges</a>
        </li>
        <li *ngIf="isAdmin" class="nav-item">
          <a routerLink="/comp-stock-map" class="nav-link"
            >Company Stock Mappings</a
          >
        </li>
        <li *ngIf="isAdmin" class="nav-item">
          <a routerLink="/ipos" class="nav-link">IPOs</a>
        </li>
        <!-- <li *ngIf="isAdmin" class="nav-item">
          <a routerLink="/comparison-charts" class="nav-link">Comparison</a>
        </li> -->
        <li *ngIf="isAdmin" class="nav-item">
          <a routerLink="/stock-prices" class="nav-link">Stock Prices</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li *ngIf="!isAuthenticated" class="nav-item">
          <a routerLink="/signup" class="nav-link">SignUp</a>
        </li>
        <li *ngIf="!isAuthenticated" class="nav-item">
          <a routerLink="/login" class="nav-link">Login</a>
        </li>
        <li *ngIf="isAuthenticated" class="nav-item">
          <a href="#" (click)="onLogoutClick()" class="nav-link">Logout</a>
        </li>
      </ul>
    </div>
</nav>
